interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic"],"jwks_uri":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/oauth2/v2.0/authorize","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"tenant_region_scope":"NA","cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11963'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:46:49 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8352E47CAE6CB"'
      last-modified:
      - Fri, 31 Jul 2020 08:46:56 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:46:57 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-07-07'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:47:05 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8352E4FBDDBD9"'
      last-modified:
      - Fri, 31 Jul 2020 08:47:09 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:47:10 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D8352E4FBDDBD9"'
      last-modified:
      - Fri, 31 Jul 2020 08:47:09 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 31 Jul 2020 08:47:09 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:47:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8352E4FBDDBD9"'
      last-modified:
      - Fri, 31 Jul 2020 08:47:09 GMT
      x-ms-acl:
      - user::rwx,group::r-x,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-x---
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:47:27 GMT
      x-ms-permissions:
      - rwxrwxrwx
      x-ms-properties:
      - ''
      x-ms-umask:
      - '0007'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Fsubdir000005?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8352E5D846614"'
      last-modified:
      - Fri, 31 Jul 2020 08:47:32 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:47:33 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/subdir000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D8352E5D846614"'
      last-modified:
      - Fri, 31 Jul 2020 08:47:32 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 31 Jul 2020 08:47:32 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:47:37 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Fsubdir000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8352E5D846614"'
      last-modified:
      - Fri, 31 Jul 2020 08:47:32 GMT
      x-ms-acl:
      - user::rwx,group::rwx,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxrwx---
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:47:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","etag":"0x8D8352E4FBDDBD9","group":"$superuser","isDirectory":"true","lastModified":"Fri,
        31 Jul 2020 08:47:09 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","etag":"0x8D8352E5D846614","group":"$superuser","isDirectory":"true","lastModified":"Fri,
        31 Jul 2020 08:47:32 GMT","name":"dir000004/subdir000005","owner":"$superuser","permissions":"rwxrwx---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:47:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?directory=dir000004&recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","etag":"0x8D8352E5D846614","group":"$superuser","isDirectory":"true","lastModified":"Fri,
        31 Jul 2020 08:47:32 GMT","name":"dir000004/subdir000005","owner":"$superuser","permissions":"rwxrwx---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:47:49 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/new_dir
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-07-07'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:47:52 GMT
      x-ms-rename-source:
      - /filesystemgoo2duhbs6ltqc/dirf4hrhvpfm/subdirdnab7z
      x-ms-source-lease-id:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/new_dir?mode=legacy
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:48:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/new_dir?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8352E5D846614"'
      last-modified:
      - Fri, 31 Jul 2020 08:47:32 GMT
      x-ms-acl:
      - user::rwx,group::rwx,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxrwx---
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:48:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/new_dir?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 31 Jul 2020 08:48:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
