interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic"],"jwks_uri":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/oauth2/v2.0/authorize","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"tenant_region_scope":"NA","cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2016-01-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11986'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:51:51 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D82170AF47BC41"'
      last-modified:
      - Mon, 06 Jul 2020 05:51:53 GMT
      x-ms-version:
      - '2017-04-17'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:51:56 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D82170B24509D4"'
      last-modified:
      - Mon, 06 Jul 2020 05:51:58 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-04-17'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Mon, 06 Jul 2020 05:52:01 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D82170B55FF913"'
      last-modified:
      - Mon, 06 Jul 2020 05:52:03 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-04-17'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:52:03 GMT
      x-ms-range:
      - bytes=0-524287
      x-ms-version:
      - '2017-04-17'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - WQcVkAmdId1DmJZZIzi/lQ==
      etag:
      - '"0x8D82170B69D462E"'
      last-modified:
      - Mon, 06 Jul 2020 05:52:05 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-04-17'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:52:06 GMT
      x-ms-version:
      - '2017-04-17'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D82170B69D462E"'
      last-modified:
      - Mon, 06 Jul 2020 05:52:05 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestibo53tmgbnqowkyvt.file.core.windows.net/share6ky6fvg2orvuqz5izku/dir1/source_file.txt
      x-ms-date:
      - Mon, 06 Jul 2020 05:52:09 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D82170BA158130"'
      last-modified:
      - Mon, 06 Jul 2020 05:52:11 GMT
      x-ms-copy-id:
      - 58149316-93a6-4bd2-9322-5b85d7d0540d
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2017-04-17'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:52:11 GMT
      x-ms-version:
      - '2017-04-17'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D82170BA158130"'
      last-modified:
      - Mon, 06 Jul 2020 05:52:11 GMT
      x-ms-copy-completion-time:
      - Mon, 06 Jul 2020 05:52:11 GMT
      x-ms-copy-id:
      - 58149316-93a6-4bd2-9322-5b85d7d0540d
      x-ms-copy-progress:
      - 524288/524288
      x-ms-copy-source:
      - https://clitestibo53tmgbnqowkyvt.file.core.windows.net/share6ky6fvg2orvuqz5izku/dir1/source_file.txt
      x-ms-copy-status:
      - success
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestibo53tmgbnqowkyvt.file.core.windows.net/share6ky6fvg2orvuqz5izku/dir1%5Csource_file.txt
      x-ms-date:
      - Mon, 06 Jul 2020 05:52:20 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D82170C0729D95"'
      last-modified:
      - Mon, 06 Jul 2020 05:52:22 GMT
      x-ms-copy-id:
      - 4a224157-9f15-449c-9484-ffd69a7717ad
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2017-04-17'
    status:
      code: 202
      message: Accepted
version: 1
