interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic"],"jwks_uri":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/oauth2/v2.0/authorize","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"tenant_region_scope":"NA","cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2016-01-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11983'
    status:
      code: 200
      message: OK
- request:
    body: '{"TableName": "table000003"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      Prefer:
      - return-no-content
      x-ms-date:
      - Mon, 06 Jul 2020 05:52:40 GMT
      x-ms-version:
      - '2017-04-17'
    method: POST
    uri: https://clitest000002.table.core.windows.net/Tables
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clitestl5wpysh75s5sdggal.table.core.windows.net/Tables('tablecvkd2acpncrycc2g3rb')
      location:
      - https://clitest000002.table.core.windows.net/Tables('table000003')
      preference-applied:
      - return-no-content
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 06 Jul 2020 05:52:43 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/Tables('table000003')
  response:
    body:
      string: '{"TableName":"table000003"}'
    headers:
      content-type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "test", "value": "something", "RowKey": "001", "PartitionKey":
      "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      Prefer:
      - return-no-content
      x-ms-date:
      - Mon, 06 Jul 2020 05:52:49 GMT
      x-ms-version:
      - '2017-04-17'
    method: POST
    uri: https://clitest000002.table.core.windows.net/table000003
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clitestl5wpysh75s5sdggal.table.core.windows.net/tablecvkd2acpncrycc2g3rb(PartitionKey='001',RowKey='001')
      etag:
      - W/"datetime'2020-07-06T05%3A52%3A51.1329325Z'"
      location:
      - https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
      preference-applied:
      - return-no-content
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 06 Jul 2020 05:52:51 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element","odata.etag":"W/\"datetime''2020-07-06T05%3A52%3A51.1329325Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2020-07-06T05:52:51.1329325Z","name":"test","value":"something"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-07-06T05%3A52%3A51.1329325Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 06 Jul 2020 05:52:54 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')?%24select=name
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element&$select=name","odata.etag":"W/\"datetime''2020-07-06T05%3A52%3A51.1329325Z''\"","name":"test"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-07-06T05%3A52%3A51.1329325Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test", "value": "newval", "RowKey": "001", "PartitionKey": "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      If-Match:
      - '*'
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 06 Jul 2020 05:52:57 GMT
      x-ms-version:
      - '2017-04-17'
    method: MERGE
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2020-07-06T05%3A52%3A59.5237783Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"cat": "hat", "RowKey": "001", "PartitionKey": "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      If-Match:
      - '*'
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 06 Jul 2020 05:53:02 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2020-07-06T05%3A53%3A05.3478766Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 06 Jul 2020 05:53:11 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:5766deb0-4002-001d-6159-53078b000000\nTime:2020-07-06T05:53:13.6659365Z"}}}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 06 Jul 2020 05:53:20 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?%24top=1
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2020-07-06T05%3A53%3A16.761376Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2020-07-06T05:53:16.761376Z","name":"test","value":"something"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-continuation-nextpartitionkey:
      - 1!4!MDAy
      x-ms-continuation-nextrowkey:
      - 1!4!MDAy
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 06 Jul 2020 05:53:23 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?NextPartitionKey=1%214%21MDAy&NextRowKey=1%214%21MDAy
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2020-07-06T05%3A53%3A19.9930541Z''\"","PartitionKey":"002","RowKey":"002","Timestamp":"2020-07-06T05:53:19.9930541Z","name":"test2","value":"something2"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 06 Jul 2020 05:53:26 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 06 Jul 2020 05:53:31 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 06 Jul 2020 05:53:36 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00Z</Expiry></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 06 Jul 2020 05:53:39 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 06 Jul 2020 05:54:17 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/Tables('table000003')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:72556d4b-5002-0020-2a59-53b2ad000000\nTime:2020-07-06T05:54:20.7019853Z"}}}'
    headers:
      content-type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 404
      message: Not Found
version: 1
