interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic"],"jwks_uri":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/oauth2/v2.0/authorize","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"tenant_region_scope":"NA","cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2016-01-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11986'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:50:48 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:50:50 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count:
      - '0'
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:50:53 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/?comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.queue.core.windows.net/\"><Queues><Queue><Name>queue000003</Name></Queue></Queues><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:50:58 GMT
      x-ms-meta-e:
      - f
      x-ms-meta-g:
      - h
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:51:03 GMT
      x-ms-version:
      - '2017-04-17'
    method: POST
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e3a34817-a91d-491e-9fc0-2ca1e3269b7c</MessageId><InsertionTime>Mon,
        06 Jul 2020 05:51:06 GMT</InsertionTime><ExpirationTime>Mon, 13 Jul 2020 05:51:06
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAANxmccFlT1gE=</PopReceipt><TimeNextVisible>Mon,
        06 Jul 2020 05:51:06 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:51:06 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e3a34817-a91d-491e-9fc0-2ca1e3269b7c</MessageId><InsertionTime>Mon,
        06 Jul 2020 05:51:06 GMT</InsertionTime><ExpirationTime>Mon, 13 Jul 2020 05:51:06
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new message!</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:51:11 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/e3a34817-a91d-491e-9fc0-2ca1e3269b7c?popreceipt=AgAAAAMAAAAAAAAAO8mRhVlT1gE%3D&visibilitytimeout=1
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAA+yTTdVlT1gEBAAAA
      x-ms-time-next-visible:
      - Mon, 06 Jul 2020 05:51:14 GMT
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:51:25 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true&numofmessages=32
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e3a34817-a91d-491e-9fc0-2ca1e3269b7c</MessageId><InsertionTime>Mon,
        06 Jul 2020 05:51:06 GMT</InsertionTime><ExpirationTime>Mon, 13 Jul 2020 05:51:06
        GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>new message!</MessageText></QueueMessage><QueueMessage><MessageId>8f13f2ad-7a8a-443a-bf70-f357a2a296e8</MessageId><InsertionTime>Mon,
        06 Jul 2020 05:51:22 GMT</InsertionTime><ExpirationTime>Mon, 13 Jul 2020 05:51:22
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>second message</MessageText></QueueMessage><QueueMessage><MessageId>29f9503f-53db-4415-b2a1-bd080e1bbbd6</MessageId><InsertionTime>Mon,
        06 Jul 2020 05:51:25 GMT</InsertionTime><ExpirationTime>Mon, 13 Jul 2020 05:51:25
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>third message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:51:30 GMT
      x-ms-version:
      - '2017-04-17'
    method: DELETE
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/e3a34817-a91d-491e-9fc0-2ca1e3269b7c?popreceipt=AgAAAAMAAAAAAAAAfa8VkVlT1gE%3D
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:51:44 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The
        specified queue does not exist.\nRequestId:273ce459-8003-0017-7559-53699a000000\nTime:2020-07-06T05:51:46.7052723Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 404
      message: The specified queue does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 06 Jul 2020 05:51:47 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002-secondary.queue.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Mon,
        06 Jul 2020 05:48:45 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
version: 1
